<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore amet ipsam, ut repellat ea in quisquam laborum fuga error ratione harum quia ipsa aperiam minima ipsum suscipit, quo debitis? Quaerat!</p>
    </div>
</div>