<div class="jumbotron">
  <h1 class="display-4">Proyecto Web!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi inventore obcaecati repudiandae incidunt veritatis odit aperiam explicabo culpa. Illo, assumenda facere tenetur rem odit quae enim libero eum nihil eius.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo ut inventore labore! Impedit eius dolore deleniti aliquam, recusandae cupiditate? Reprehenderit exercitationem autem aspernatur nostrum neque ratione similique dignissimos excepturi unde?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, nemo a odio, maiores odit nostrum enim aliquid quibusdam corporis tenetur quam velit temporibus pariatur consectetur dolorem similique saepe, corrupti deserunt!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, officia. Itaque deserunt, eligendi nihil consequuntur quibusdam hic sequi! Soluta eaque illo natus maiores illum cum sit eius veniam, a blanditiis?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Non neque dicta voluptate ipsum nostrum doloremque nulla distinctio mollitia vero. Ullam voluptatibus quibusdam asperiores placeat facilis soluta obcaecati consectetur cupiditate nesciunt?
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae odio obcaecati sunt iusto esse ipsum adipisci itaque alias provident necessitatibus? Aliquam porro culpa a harum odit, dolorem earum vel mollitia.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio corporis quos quod esse earum explicabo, ad ullam repellat reiciendis natus ratione consectetur voluptatibus asperiores, voluptates doloribus maiores quae incidunt aperiam!
     It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>