
<div class="col-md-4 mx-auto">
    <div class="car">
    <div class="card">
        <div class="card-header">
            <h3>New Note</h3>
        </div>
    </div>
    <div class="car-body">
        <form action="/notes/new-note" method="POST">
            <div class="formgroup">
                <input type="text" name="title" class="form-control" placeholder="Title" autofocus>              
            </div>
            <div class="form-group">
                <textarea name="descripcion" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">
                Guardar</button>
            </div>

        </form>
    </div>
</div>
</div>